<div class="magazine">

  <div class="title">
      <h2>
          <span>MAGAZINE</span>
      </h2>
  </div>

    <div class="inner">
    		<!-- 큰배너 -->
    		<div class="magazine_left" >
    	  		<div  style="width: 640px;">
      				<a href="/front/php/b/board_list.php?board_no=2&is_pcver=T">
      					<img src="/img/magazine_left.jpg">
      				</a>
      		</div>
        </div>

      	<!-- 작은배너 -->
      	<div class="magazine_right" >
      		<a href="/product/project.html?cate_no=68">
            <img src="/img/magazine_right1.jpg">
          </a>
      		<a href="/product/list.html?cate_no=45">
            <img src="/img/magazine_right2.jpg">
          </a>
      	</div>

    </div>

</div>
